.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo{
  width: 200px;
}
.nav-items{
  padding: 0px 20px;
}
.nav-items > ul{
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li{
  margin: 10px;
  padding: 10px;
 
}
.res-card{
  width: 200px;
  height: 420px;
 
  padding: 5px;
  background-color:bisque;
  color: chocolate;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  text-decoration: none;
}
.res-card:hover{
  border: 2px solid black;
  cursor: pointer;
}
.Search{
  /* width: 240px;
  height: 25px;
  border: 2px solid red;
  margin: 10px; */
  padding: 5px;
}
.res-logo{
width: 100%;
height: 150px;

}
.res-container{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  
}
.filter{
  display: flex;
  flex-direction: row;
}
.filter-btn{
  margin-top:14px;
  margin-left: 12px;
  padding: 5px;
  color: black;
  /* background-color: bisque; */
  text-shadow: 2px;
  height: 24px;

}
.filter-btn:hover{
cursor: pointer;
border: 1px solid black;
}
.shimer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimer-card{
  width: 200px;
  height: 400px;
  background-color:#f0f0f0;
  margin: 20px;
}
.login{
  padding: 0 20px;
  cursor: pointer;
}
.search{
  margin: 10px;
  padding: 5px;
  
}
.search-box{
  margin-right: 7px;
  height: 18px;
}
.user-card{
  padding: 10px;
  border: 1px solid black;
}